html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 100%;
    height: 100%
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: auto;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

/* box size and allignment */

* {
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: :center;
}

@media(min-width:768px) {
    .navbar {
        border-radius: 4px;
        text-align: center;
    }
}

@media(min-width:768px) {
    .navbar-header {
        float: left;
    }
}

@media(min-width:768px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
        float:left;
    }
}

@media(min-width:768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    height: 10%;
    right: 0;
    left: 0;
    z-index: 1030;
}

.modal-footer .btn+.btn {
    margin-right: 5px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: initial;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none !important;
}

p {
    font-size: 15px;
}

.page-block {
    padding-top: 100px;
}

.main-block {
    padding: 200px 0 25px 0;
    background: : #f1f4f9;
}

.bg-F1F4F9 {
    background: #f1f4f9 !important;
}

.bg-white {
    background: #fff;
}

.bg-F9F9F9 {
    background-color: #f9f9f9;
}

.btn-green {
    background: #11b8bb !important;
    color: #fff !important;
    border: 1px solid #0fb7c0;
}

.bg-ghostwhite {
    background-color: #f1f4f9 !important;
}

.w-full {
    width: 35%
}

.p-0 {
    padding: 0;
}

.pv-25 {
    padding: 25px 0;
}

.pv-40 {
    padding: 40px 0;
}

.pv-100 {
    padding: 100px 0;
}

.pv-50 {
    padding: 50px 0;
}

.pd-10 {
    padding: 10px;
}

.pd-12 {
    padding: 12px;
    margin: 5px;
}

.pd-25 {
    padding: 25px;
}

.vertical-align [class*="col-"]:first-child {
    margin-bottom: 0 !important;
}

@media(min-width:768px) {
    .sg-mb-30 {
        margin-bottom: 30px !important;
    }
}
@media(min-width:1200px) {
    .container {
        width: 1040px;
    }
}
.navbar-brand>img {
  height: inherit;
}
.navbar .nav li>a.ios-link {
    text-transform: none !important;
}
.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #00b4d4;
}
.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #00b4d4 !important;
    background-color: transparent;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.footer-section {
    background-color: #f1f4f9;
}
.footer-sec-block {
    padding: 40px 0;
    display: block;
}
.m-20 {
    margin: 25px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-50 {
    margin-bottom: 50px !important;
}
@media(min-width:568px){

    -mb-50 {
        padding-bottom: 50px;
    }
}
@media(min-width:1200px) and (max-width: 1024px) and (orientation:portrait) {
    .footer-section .social .col-lg-3 {
        padding: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width : 1023px){
  .p {
    text-align: center;

  }
}

@media (min-width: 768px)
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    padding: 5px 15px;
}

.navbar-brand {
    padding: 0px 15px;
}


.row {
  margin: 0 auto 10px;
    width: 275px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }